{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Web Dem</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="static\css/abc.css" />
  </head>

  <body>
    <header
      class="d-flex flex-wrap justify-content-center py-2 mb-4 border-bottom shadow"
    >
      <a
        href="/"
        class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
      >
        <svg class="bi me-2" width="40" height="32">
          <use xlink:href="#bootstrap"></use>
        </svg>
        <span class="fs-4">Logo</span>
      </a>

      <ul class="nav me-5">
        <li class="nav-item me-3">
          <a
            href="#"
            
            class="nav-link link-body-emphasis px-2 active"
            aria-current="page"
            >Home</a>
            <!--new list-->
        </li>
        <li class="nav-item me-3">
          <a href="#" class="nav-link link-body-emphasis px-2">Layer 2</a>
        </li>
        <li class="nav-item me-3">
          <a href="#" class="nav-link link-body-emphasis px-2">Features</a>
        </li>
        <li class="nav-item me-3">
          <a href="#" class="nav-link link-body-emphasis px-2">Support</a>
        </li>
        <div class="text-end me-3">
          <button type="button" class="btn text-dark me-2">
            <b>Log-in</b>
          </button>
          <button type="button" class="btn btn-primary p-1 signup">
            Sign-up
          </button>
    Layer_UI

          <button type="button" class="btn btn-primary">Sign-in</button>
    develop_merge
        </div>
      </ul>
    </header>

    <div class="outer">
      <div class="d-flex t1">
        <h3 class="me-3">Table Name :</h3>
        <div class="form-group ms-3">
          <label for="input1" class="tableInput"> Table Name </label>
          <select
            class="form-select"
            id="inputGroupSelect03"
            aria-label="Example select with button addon"
          >
            <option selected>Input</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>
      <div class="catform d-flex mt-1">
        <h3>Category From :</h3>
        <div class="radio mt-2 d-flex">
          <div class="form-check me-4">
            <input
              class="form-check-input"
              type="radio"
              name="flexRadioDefault"
              id="flexRadioDefault1"
            />
            <label class="form-check-label" for="flexRadioDefault1">
              New
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="flexRadioDefault"
              id="flexRadioDefault2"
            />
            <label class="form-check-label" for="flexRadioDefault2">
              Existing
            </label>
          </div>
        </div>
      </div>

      <div class="container middle">
        <div class="three">
          <div class="d-flex gap-3 py-3 mb-2 addCat">
            <button type="button" class="btn plus" id="add">
              <strong>+</strong>
            </button>
            <h4 class="ms-4 mt-2">Add Category</h4>
          </div>

          <!-- Individual div elements with the same properties -->

          <div class="catNames d-flex align-items-center mb-4">
            <button class="minus"><b>-</b></button>
            <div class="lang">
              <div
                class="inputcontainer"
                style="display: flex; align-items: center"
              >
                <div class="form-group ms-3 me-2">
                  <label for="input1" class="tableInput"> Category_name </label>
                  <input
                    type="text"
                    placeholder="Input"
                    class="catSearch"
                    id="idcat"
                  />
                </div>
                <span class="pipe me-2">|</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% comment %}
      <div
        class="catNames d-flex align-items-center justify-content-center mb-4"
      >
        <button class="minus"><b>-</b></button>
        <input type="text" class="lang me-3" />
      </div>
      {% endcomment %}

      <div class="Urlbox d-flex align-items-center justify-content-center mb-4">
        <div type="text" class="urls">
          <h5 class="ms-3">
            Use {} to enter category name to genrate URL patterns
          </h5>
          <div class="example ms-4">
            <p class="ms-2">
              <b
                >Example URL pattern-
                https://www.fiverr.com/search/gigs?query={category_name1}&source={main_banner}</b
              >
            </p>
          </div>
          <div class="input-with-copy">
            <input type="text" id="insideUrl" class="lang ms-4 mt-3" />
            <i class="fas fa-copy copy-icon me-3"></i>
            <i class="fas fa-times delete-icon bg-primary cross"></i>
          </div>
        </div>
      </div>
      <button class="genratebtn">Genrate URLs</button>
    </div>
    {% comment %} hello {% endcomment %}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script src="static\js/main.js"></script>
  </body>
</html>
