{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login_session</title>

    <!-- Bootstrap CSS -->
    {% bootstrap_css %}

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'login_session.css' %}">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap" rel="stylesheet">

    <!-- AOS CSS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid text-center d-flex flex-column align-items-center">
        <!-- Messages -->
        {% if messages %}
        <div id="message-alert" class="alert alert-success" role="alert" style="width: 80rem; border-radius: 25px;">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </div>
        {% endif %}
        <div class="container ">
            <div class="row align-items-start">
                <!-- Login Form -->
                <div class="col-3 divider">
                    <div class="myform form ">
                        <div class="logo mb-5">
                            <div class="col-md-12 text-center">
                                <h1>SHAMIIT Login</h1>
                            </div>
                        </div>
                        <form method="post" action="{% url 'login_session' %}">
                            {% csrf_token %}
                            <div class="form-group pb-3">
                                <input type="text" name="username" class="form-control transparent-background" id="email"
                                    aria-describedby="emailHelp" placeholder="Enter username" required>
                            </div>
                            <div class="form-group pb-3">
                                <input type="password" name="password" id="password" class="form-control transparent-background"
                                    aria-describedby="emailHelp" placeholder="Enter Password" required>
                            </div>
                            <div class="col-md-12 text-center ">
                                <button type="submit" class=" btn btn-block mybtn tx-tfm"
                                    style="background-color: cadetblue;color: initial;font-weight: 600;">Login</button>
                            </div>
                            <div class="col-md-12 ">
                                <div class="login-or">
                                    <hr class="hr-or">
                                    <span class="span-or">or</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <p class="text-center">Don't have account? <a href="#"
                                        id="signup" style="color: #ffff;text-decoration: none;">Sign up here</a></p>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Profile Details -->
                <div class="col-9 right">
                    <div class="logo my-2 d-flex">
                        <div class="col-8 text-center d-flex justify-content-center align-items-center">
                            <h3 style="margin-bottom: 0;">Profile Details</h3>
                        </div>
                        <div class="col-4 logout-btn d-flex justify-content-evenly align-items-center">
                            <a href="#" style="text-decoration: none;color: initial; ">
                                <span style="font-weight: 500; font-size: 18px;">Welcome,
                                    <span id="username_placeholder">
                                        <span style="color:{% if user_id %} #ffff {% else %} grey {% endif %};">{{ user_id |default:"Username" }}</span>
                                    </span>
                                </span>
                            </a>
                            <a href="{% url 'logout_session' %}"><img src="/static/images/logout-48.png"></a>
                        </div>
                    </div>
                    <div class="row justify-content-evenly mt-3 divider-bt pt-4">
                        {% if portaltitle %}
                        <h3 class="Welcometitle" id="portaltitle" data-aos="zoom-in" data-aos-duration="3000"
                            style="margin-bottom: 1rem;font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif">{{ portaltitle }}</h3>
                        {% endif %}
                        <div class="col-2 d-flex justify-content-center align-items-center" id="user-avatar">
                        </div>
                        <div class="col-6 d-flex align-items-center">
                            <div class="userdetails text-start" id="contact-details">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="row ">
                                <div class="userfollow" style="font-weight: 500;">
                                    <span class="userposts text-start"> Contacts</span> of <span> {{ user_id |default:"Username" }}</span>
                                </div>
                                <div class="col mt-3">
                                    <div class="list-container">
                                        <ul class="list-group transparent-list" id="contact-list">
                                            {% for contact in contacts_info %}
                                            <li class="list-group-item contact-item" data-username="{{ contact.id }}"
                                                data-fullname="{{ contact.full_name }}" data-email="{{ contact.email_addresses }}"
                                                data-avatar="{{ contact.avatar }}">{{ contact.full_name }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JavaScript -->
    {% bootstrap_javascript %}

    <!-- Custom JavaScript -->
    <script src="{% static 'login_session.js' %}"></script>

    <!-- AOS JavaScript -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>
